html {
    min-height: 100%;
}

body {
    background-image: linear-gradient(to right top, #180537, #1f194d, #262b64, #2b3d7c, #2d5194);
    background-size: cover;
    min-height: 100%;
    color: #ccc;
    font-family: 'AvrileSansUIRegular';
    font-weight: normal;
    font-style: normal;
}

.container {
    position: relative;
    max-width: 960px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#slideshow {
    border: 2px solid #180537;
    border-radius: 15px;
    box-shadow: 2px 3px 2px #333;
}

.button-wrapper {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 45px;
}

.button-wrapper button {
    padding: 10px 15px;
}

#caption {
    width: 100%;
    text-align: center;
    font-size: 18px;
}