.d20-dice {
    max-width: 100px;
    min-height: 100px;
    display: block;
    position: relative;
    background-image: url('../images/d20-dice.svg');
    background-size: cover;
}

.d10-dice {
    max-width: 100px;
    min-height: 100px;
    display: block;
    position: relative;
    background-image: url('../images/d10-dice.svg');
    background-size: cover;
}

.result-number {
    position: absolute;
    top: 37%;
    font-size: 26px;
    font-family: 'BebasNeueBold';
    font-weight: normal;
    font-style: normal;
}

.one-digit {
    left: 45%
}

.two-digit {
    left: 39%
}