* {
  font-family: Arial, Verdana, sans-serif;
  color: #665544;
  text-align: center;
}

body {
  width: 90%;
  margin: 0 auto;
}

#content {
  overflow: auto;
}

#header h1 {
  font-family: 'RedkostComicRegular';
  font-weight: normal;
  font-style: normal;
}

#nav, #feature, #footer {
  margin: 1%;
}

.column1, .column2, .column3 {
  width: 31.3%;
  float: left;
  margin: 1%;
}

.column3 {
  margin-right: 0%;
}

li {
  display: inline;
  padding: 0.5em;
}

#nav, #footer {
  padding: 0.5em 0;
}

#feature, .article {
  height: 10em;
  margin-bottom: 1em;
}

/* Background Color Adjustments */

#nav {
  background-color: #D9DFC6;

}

#feature {
  background-color: #FADA7A;

}

.column1 {

  background-color: #FFFDF0;

}

.column2 {
  background-color: #EFF3EA;

}

.column3 {
  background-color: #FFF2C2;

}

#footer {
  background-color: #F0A04B;

}


