#container {
    padding: 10% 5%;
}

.form-wrapper {
    max-width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 25px;
    border: 1px solid #666;
    border-radius: 5px;
}

input, select {
    display: block;
}

/*-- Hide numeric input spinners --*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

/*-- Error message styles --*/

.errorMessage {
    position: absolute;
    background-color: #ccc;
    border-radius: 3px;
    padding: 5px 10px;
    box-shadow: 2px 3px 2px #aaa;
    margin-top: 3px;
    margin-left: 15px;
    color: red;
    font-weight: bold;
}

.errorMessage:before {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right: 10px solid black;
    left:-10px;
}