/*-- Chessboard Styles --*/

body {
    background-image: url("https://3.bp.blogspot.com/-aNRb0w9Uu2E/Uk0w1v9lXjI/AAAAAAAAHrM/RipxfZqlQQ4/s1600/Texture-Backgrounds-Wallpaper-HD.jpg");
    background-size: cover;
}
img {
    margin-left: 5px;
    margin-top: 10px;
}

#title {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 10px;
    margin: 0px;
    width: 100%;
    background-color: #CCD5AE;
    text-align: center;
    z-index: 10;
    font-family: 'UglyTypist';
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
}

#container {
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.row {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
}

.white {
    border: 1px solid black;
    width: 10%;
    height: 60px;
    background-color: white;
    float: left;
}

.black {
    border: 1px solid black;
    width: 10%;
    height: 60px;
    background-color: #787878;
    float: left;
}

.clear {
    clear: both;
}

#footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 10px;
    margin: 0px;
    width: 100%;
    padding: 10px;
    /* margin: 10px; Commenting out for fixed positioning, much like header */
    text-align: center;
    background-color: #D4A373;
    /*border: solid 1px; Commenting out in lieu of background color */
}
