/* AV: COLOR PALETTE: https://colorhunt.co/palette/faf7f0d8d2c2b174574a4947 */

body {
background-image:url(images/pexels-hngstrm-1939485.jpg); 
    /* NL: Add background image here from free online source */
background-position: right top;
    /* NL: Background image aligned to the top of the page starting in the right corner */
background-size: cover; /* AV: Stretches background image to full viewport */
margin: 0; /* AV: Removed body element margin to ensure header and footer span entire viewport  */
}


/* AV: Header/Title Styles - Uniform layout like footer element (Removed fixed positioning) */
/* NL: bg color update to match the board style */
header 
{
    border: solid 1px;
    padding: 10px;
    width: 100%;
    background-color: lightgray;
    text-align: center;
    z-index: 10;
}
/* NL: font color update to match the board style */
#title 
{
margin: 15px 0;
font-family: 'RobotoRegular'; /* AV: Imported font from OpenFontLibrary */
color: #b45910;
font-weight: bold;
font-style: normal;
font-size: 36px;
}


/* AV: Container Layout Styles*/
/* NL: Container for the chest board Layout Styles updated for visual alignment on big screan*/
#container 
{
margin-top: 7%;
margin-left: 10%;
margin-right: 10%;
margin-bottom: 5%;
}
/* AV: Row and Tile Styles */
.white
{
width: 10%;
height: 60px;
background-color: white;
float: left;
}
/* NL: Row and Tile Styles for black tile */
.black
{
width: 10%;
height: 60px;
background-color: #787878;
float: left;
}
/* NL: set margin for the images inside the tiles */
.black img, .white img 
{
    margin: 15px 0;
}
/* NL: set margins for the content in class row */
.row 
{
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}


/* AV: NOTE: This applies a single top and left border to each element, then a bottom and right border to the last tile of each row */
/* AV: This fixes the '2px border' overlap you see in adjacent tiles */
.row > div {
    width: calc(12.5% - 1.125px); /* AV: Centers the board by splitting up elements roughly 100/8. This includes a 1.125px buffer for the borders. */
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.row > div:last-child {
    border-right: 1px solid black;
}

/* AV: This applies a bottom border to the last row of tiles */
#container > .row:last-child div {
    border-bottom: 1px solid black;
}

/* AV: Clearfix */
/*NL: avoide the wrap around the board */
.clear {
clear: both;
}

/* AV: Footer Styles */
/* NL: Footer Styles no changes needed  */
#footer {
border: solid 1px;
padding: 10px;
margin: 0px;
background-color: #888888; /* TODO: Add Footer Background Color */
text-align: center;   
}
