/*-- Chessboard Styles --*/

body {
    background-image: url("/dev109/a2/images/annie-spratt-xt79nQxc9Q0-unsplash.jpg");
    background-size: cover;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 10px;
    margin: 0px;
    width: 100%;
    background-color: #CCD5AE;
    text-align: center;
    z-index: 10;
}

img {
    margin-left: 5px;
    margin-top: 10px;
}

#title {
    font-family: 'UglyTypist';
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
}

#container {
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

#footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 10px;
    margin: 0px;
    width: 100%;
    padding: 10px;
    /* margin: 10px; Commenting out for fixed positioning, much like header */
    text-align: center;
    background-color: #D4A373;
    /*border: solid 1px; Commenting out in lieu of background color */
}

/*-- Row and Tile Border Styles: This fix address the 2px borders that come from applying full borders to all tiles. --*/

.row {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
}

.row > div {
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.row > div:last-child {
    border-right: 1px solid black;
}

#container > .row:last-child div {
    border-bottom: 1px solid black;
}

/*-- END Row and Tile Border Styles Fix --*/

.white {
    /*border: 1px solid black;*/
    width: 10%;
    height: 60px;
    background-color: white;
    float: left;
    text-align: center;
}

.black {
    /*border: 1px solid black;*/
    width: 10%;
    height: 60px;
    background-color: #787878;
    float: left;
    text-align: center;
}

.clear {
    clear: both;
}
