/*-- a3 Styles --*/

#wrapper {
    margin: 5% 10%;
}

#header {
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
}

#shapeForm {
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    padding: 25px 40px;
    border: 1px solid #666;
    border-radius: 5px;
    box-shadow: 2px 3px 10px;
}

.results {
    text-align: center;

}

h1, h3 {
    font-family: 'LemonRegular';
    font-weight: normal;
    font-style: normal;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-family: 'AvrileSansUIRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
}

input, select {
    display: inline-block;
    margin-bottom: 15px;
    min-width: 30%;
}