body {
    height: 200px;
    background: beige;
  }
  .dot {
    border-radius: 4px; /* rounds corners */
    background: black;
    position: absolute;
  }

  .blue {
    background: blue;
  }

  .green {
    background: green;
  }

  .red {
    background: red;
  }