body {
    background: beige;
  }

.container {
    max-width: 350px;
    padding: 15px 20px;
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.dot {
    background: black;
    position: absolute;
}

.blue {
    background: blue;
}

.green {
    background: green;
}

.red {
    background: red;
}