/*-- Sitewide Styles --*/
/*-- https://coolors.co/visualizer/f4d06f-ff8811-9dd9d2-fff8f0-392f5a --*/


/*-- General/Sticky footer Styles --*/

* {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  font: 1.2em sans-serif;
  margin: 0; /* Clean this up later */
  font-family: 'OpenSansYtoKRegular';
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3 {
  font-family: 'BebasNeueBold';
  font-weight: normal;
  font-style: normal;
  margin-bottom: 10px;
  color: #444444;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

.page-body p {
  color: #444444;
}

.container {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-image: url('../images/site-bkgd.jpg');
  background-size: cover;
}

.wrapper {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 15px;
}

.header,
.footer {
  padding: 20px;
}

.page-body {
  padding: 20px;
}

/*-- Header Styles --*/

.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #cccccc;

}

.header-content {
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
}

.header-logo {
    display: inline-block;
    font-family: 'BebasNeueBold';
    font-weight: normal;
    font-style: normal;
    font-size: 42px;
    color: #8E9B90;
}

.header-logo a {
    color: #8E9B90;
}

.header-logo span {
    display: inline-block;
    margin-top: 5px;
}

/*-- Footer Styles --*/

.footer {
    background-color: #8E9B90;
    text-align: right;
}

.footer span {
    color: black;
    font-size: 14px;
}

/*-- Menu Styles --*/


.header-menu {
    padding-left: 0;
    margin: 12px 0 0 0;
    float: right;
}

.header-menu li {
    display: inline-block;
}

.header-menu li a {
    margin-right: 10px;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 10px;
    color: #8E9B90;
}

.header-menu li a:hover {
    margin-right: 10px;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #8E9B90;
    transition: all 200ms ease-in-out;
}