/*-- Sitewide Styles --*/

/*-- Sticky footer Styles --*/

* {
    box-sizing: inherit;
  }
  
  html {
    height: 100%;
    box-sizing: border-box;
  }
  
  body {
    height: 100%;
    font: 1.2em sans-serif;
    margin: 0; /* Clean this up later */
  }
  
  .container {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  .wrapper {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
  }
  
  .header,
  .footer {
    background-color: rgb(75 70 74);
    color: #fff;
    padding: 20px;
  }
  
  .page-body {
    padding: 20px;
  }

/*-- Header Styles --*/

  .header-content {
    display: inline-block;
    text-align: center;
    width: 100%;
}

/*-- Menu Styles --*/

.header-content {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.header-menu {
    padding-left: 0;
    margin: 0;
}

.header-menu ul {

}

.header-menu ul li {
    display: inline-block;
}

.header-menu ul li a {
    margin-right: 10px;
    padding: 10px 15px;
}